---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/poiSearch/atm.json?key=pLHmZIQCIER9z0l6XhhlGA20FY5xQIbu&lat=39.752831&limit=10&lon=-104.998331&radius=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - bdd3be78-9d4f-433e-990b-d9b635d81a08
      X-Apigee.target-Latency:
      - '15'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"atm","queryType":"NON_NEAR","queryTime":10,"numResults":10,"offset":0,"totalResults":92,"fuzzyLevel":1,"geoBias":{"lat":39.752831,"lon":-104.998331},"geobiasCountry":"US"},"results":[{"type":"POI","id":"LptaiHox1LzjSpAp5vgOGQ","score":0.9854305387,"dist":68.693031,"info":"search:ta:840089002931103-US","matchConfidence":{"score":1},"poi":{"name":"ATM","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"1601","streetName":"17th Street","municipalitySubdivision":"Downtown
        Denver","municipality":"Denver","countrySecondarySubdivision":"Denver","countrySubdivision":"CO","countrySubdivisionName":"Colorado","postalCode":"80202","extendedPostalCode":"80202-1203","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"1601 17th Street, Denver,
        CO 80202","localName":"Denver"},"position":{"lat":39.752335,"lon":-104.99881},"viewport":{"topLeftPoint":{"lat":39.75323,"lon":-104.99998},"btmRightPoint":{"lat":39.75144,"lon":-104.99764}},"entryPoints":[{"type":"main","position":{"lat":39.75223,"lon":-104.99894}}]},{"type":"POI","id":"zcsa4xA1_S1gqU4aQ9kBPQ","score":0.9854305387,"dist":97.911696,"info":"search:ta:840089001498273-US","matchConfidence":{"score":1},"poi":{"name":"ATM
        at Citibank","brands":[{"name":"Citibank"}],"categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"1755","streetName":"Blake Street","municipalitySubdivision":"Downtown
        Denver","municipality":"Denver","countrySecondarySubdivision":"Denver","countrySubdivision":"CO","countrySubdivisionName":"Colorado","postalCode":"80202","extendedPostalCode":"80202-1221","coun[...]
